nav {
    background-color: var(--main-color);
    width: 16rem;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 16rem;
    padding: 1.8rem 0.85rem;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    transition: width 0.5s ease-in-out;
}

nav::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 100%;
    top: 0;
    left: 100%;
}

.sidebar-top {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.sidebar-top .logo {
    width: 3rem;
    margin: 0 0.8rem;
}

.sidebar-top h3 {
    padding-left: 0.5rem;
    font-weight: 600;
    font-size: 1.15rem;
}

.sidebar-button:hover {
    background-color: var(--main-color-dark);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

ul {
    list-style: none;
}

li {
    height: 53px;
}

li:hover {
    cursor: pointer;
}