<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta
            name="keywords"
            content="zamów, jedzenie, posiłek, obiad, dowóz, sprzedaj, wystaw"
    />
    <meta
            name="description"
            content="Applikacja do sprzedawania i zamawiania posiłków"
    />

    <title>Food App</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
    />

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
    />

    <!-- Stylesheets -->
    <link th:href="@{/styles/css/style.css}" rel="stylesheet"/>
</head>

<body>
<nav>
    <div class="sidebar-top">
        <img class="logo" th:src="@{/images/foods/logo.jpg}" alt="logo">
        <h3>Food App</h3>
    </div>

    <div class="sidebar-links">
        <ul>
            <a th:href="@{/restaurants/main}">
                <li>Znajdź restauracje</li>
            </a>
            <a th:href="@{/restaurants/owner}">
                <li>Moje restauracje</li>
            </a>
            <a th:href="@{/app-order/user}">
                <li>Moje zamówienia</li>
            </a>
            <a th:href="@{/weather}">
                <li>Pogoda</li>
            </a>
        </ul>
    </div>
</nav>
<main>
    <div class="mainBox h3 text-center">
        LISTA DAŃ
    </div>

    <div id="mainContext" class="d-flex flex-wrap">

        <div class="card m-3" style="width: 18rem; height: 28rem;" th:each="food : ${foods}">
            <img th:src="@{${'/api/image/' + food.foodId}}" class="card-img-top h-75 mx-auto">
            <div class="card-body text-center">
                <h5 class="card-title" th:text="${food.name + ' - ' + food.price + ' zł/szt'}"></h5>
                <p class="card-text" th:text="${food.description}"></p>
                <button type="button" class="btn btn-primary addPictureButton" th:value="${food.foodId}"
                        data-bs-toggle="modal" data-bs-target="#pictureModal">Dodaj/Zmień zdjęcie
                </button>
                <input type="hidden" th:id="${'foodName' + food.foodId}" th:value="${food.name}"></input>
            </div>
        </div>
        <button
                type="submit"
                id="addRestaurant"
                class="btn btn-success mb-4 w-100"
                data-bs-toggle="modal"
                data-bs-target="#newFoodModal"
        >
            Dodaj Pozycje
        </button>

    </div>

    <footer>
        <div>
            2023
            &copy;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Autor:&ensp;Bartłomiej
            Święs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kontakt:&ensp;bartlomiejswies@gmail.com
        </div>
    </footer>
</main>

<!-- Add Food Modal -->
<div
        class="modal fade"
        id="newFoodModal"
        tabindex="-1"
        aria-labelledby="newFoodModalLabel"
        aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="newFoodModalLabel">
                    Dodaj Menu
                </h1>
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form
                        id="newFoodForm"
                        method="POST"
                        action="http://localhost:8080/food-app/food/new"
                >
                    <div class="form-group mb-4">
                        <label for="name">Nazwa</label>
                        <input
                                type="text"
                                class="form-control"
                                id="name"
                                name="name"
                                placeholder="Podaj nazwę"
                        />
                    </div>
                    <div class="form-group mb-4">
                        <label for="price">Cena</label>
                        <input
                                type="text"
                                class="form-control"
                                id="price"
                                name="price"
                                placeholder="Podaj cenę"
                        />
                    </div>
                    <div class="form-group mb-4">
                        <label for="description">Opis</label>
                        <input
                                type="text"
                                class="form-control"
                                id="description"
                                name="description"
                                placeholder="Opis"
                        />
                    </div>
                    <div class="form-group mb-4">
                        <input
                                type="hidden"
                                class="form-control"
                                id="menuId"
                                name="menuId"
                                th:value="${menuId}"
                        />
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">
                            Dodaj
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Add Picture Modal -->
<div
        class="modal fade"
        id="pictureModal"
        tabindex="-1"
        aria-labelledby="pictureModalLabel"
        aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="pictureModalLabel">
                    Dodaj Zdjęcie
                </h1>
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form method="post" th:action="@{/image/new}" enctype="multipart/form-data">
                    <div class="form-group mb-4">
                        <label for="fileInput">Wybierz plik (.png)</label>
                        <input
                                type="file"
                                class="form-control"
                                id="fileInput"
                                th:name="file"
                                accept="image/*"
                        />
                        <input
                                type="hidden"
                                class="form-control"
                                id="foodId"
                                th:name="foodId"
                        />
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">
                            Dodaj
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- JS Scripts JQuery and for styles -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script th:inline="javascript">
    $(".addPictureButton").on('click', function (e) {
        let foodIdValue = $(this).val();
        $("#foodId").attr("value", foodIdValue);
    });
</script>
</body>
</html>
