<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta
            name="keywords"
            content="zamów, jedzenie, posiłek, obiad, dowóz, sprzedaj, wystaw"
    />
    <meta
            name="description"
            content="Applikacja do sprzedawania i zamawiania posiłków"
    />

    <title>Food App</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
    />

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
    />

    <!-- Stylesheets -->
    <link th:href="@{/styles/css/style.css}" rel="stylesheet"/>
</head>

<body>
<nav>
    <div class="sidebar-top">
        <img class="logo" th:src="@{/images/foods/logo.jpg}" alt="logo">
        <h3>Food App</h3>
    </div>

    <div class="sidebar-links">
        <ul>
            <a th:href="@{/restaurants/main}"><li>Znajdź restauracje</li></a>
            <a th:href="@{/restaurants/owner}"><li>Moje restauracje</li></a>
            <a href="appOrderDetail.html"><li>Moje zamówienia</li></a>
            <a href="weather.html"><li>Pogoda</li></a>
        </ul>
    </div>
</nav>
<main>
    <div class="mainBox h3 text-center">
        LISTA MENU
    </div>
    <div id="mainContext">
        <ul class="list-group">
            <li class="list-group-item" th:each="menu : ${menus}">
                <div class="d-flex justify-content-between">
                    <div>
                        <span th:text="${menu.name}"></span>
                        <span> - </span>
                        <span th:text="${menu.category}"></span>
                    </div>
                    <form th:action="@{'/food/owner/' + ${menu.menuId}}" method="GET">
                        <button type="submit" class="btn btn-primary">Wyświetl Menu</button>
                    </form>
                </div>
            </li>
        </ul>
        <button
                type="submit"
                class="btn btn-success mt-4 w-100"
                data-bs-toggle="modal"
                data-bs-target="#newMenuModal"
        >
            Dodaj Menu
        </button>
    </div>

    <footer>
        <div>
            2023
            &copy;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Autor:&ensp;Bartłomiej
            Święs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kontakt:&ensp;bartlomiejswies@gmail.com
        </div>
    </footer>
</main>

<!-- Add Menu Modal -->
<div
        class="modal fade"
        id="newMenuModal"
        tabindex="-1"
        aria-labelledby="newMenuModalLabel"
        aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1
                        class="modal-title fs-5"
                        id="newMenuModalLabel"
                >
                    Dodaj Menu
                </h1>
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form id="newMenuForm" method="POST" action="http://localhost:8080/food-app/menu/new">
                    <div class="form-group mb-4">
                        <label for="name">Nazwa</label>
                        <input
                                type="text"
                                class="form-control"
                                id="name"
                                name="name"
                                placeholder="Podaj nazwę"
                        />
                    </div>
                    <div class="form-group mb-4">
                        <label for="category">Kategoria</label>
                        <input
                                type="text"
                                class="form-control"
                                id="category"
                                name="category"
                                placeholder="Podaj kategorie"
                        />
                    </div>
                    <div class="form-group mb-4">
                        <input
                                type="hidden"
                                class="form-control"
                                id="restaurantId"
                                name="restaurantId"
                                th:value="${restaurantId}"
                        />
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">
                            Dodaj
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- JS Scripts JQuery and for styles -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</body>
</html>
