<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta
            name="keywords"
            content="zamów, jedzenie, posiłek, obiad, dowóz, sprzedaj, wystaw"
    />
    <meta
            name="description"
            content="Applikacja do sprzedawania i zamawiania posiłków"
    />

    <title>Food App</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
    />

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
    />

    <!-- Stylesheets -->
    <link th:href="@{/styles/css/style.css}" rel="stylesheet"/>
</head>

<body>
<nav>
    <div class="sidebar-top">
        <img class="logo" th:src="@{/images/foods/logo.jpg}" alt="logo">
        <h3>Food App</h3>
    </div>

    <div class="sidebar-links">
        <ul>
            <a th:href="@{/restaurants/main}"><li>Znajdź restauracje</li></a>
            <a th:href="@{/restaurants/owner}"><li>Moje restauracje</li></a>
            <a href="appOrderDetail.html"><li>Moje zamówienia</li></a>
            <a href="weather.html"><li>Pogoda</li></a>
        </ul>
    </div>
</nav>
<main>
    <div class="mainBox h3 text-center">
        TWOJE REUSTAURACJE
    </div>
    <div id="mainContext">
        <ul class="list-group">
            <li class="list-group-item" th:each="restaurant : ${restaurants}">
                <div class="d-flex justify-content-between">
                    <div class="w-25">
                        <span th:text="${restaurant.name}"></span>
                        <span> - </span>
                        <span th:text="${restaurant.addressDTO.city}"></span>
                    </div>
                        <form th:action="@{'/menu/owner/' + ${restaurant.restaurantId}}" method="GET">
                            <button type="submit" class="btn btn-primary">Wyświetl Liste Menu</button>
                        </form>

                        <form th:action="@{'/delivery-address/restaurants/' + ${restaurant.restaurantId}}" method="GET">
                            <button type="submit" class="btn btn-warning">Wyświetl Adresy Dowozów</button>
                        </form>

                        <form th:action="@{'/app-order/restaurant/' + ${restaurant.restaurantId}}" method="GET">
                            <button type="submit" class="btn btn-info">Wyświetl zamówienia</button>
                        </form>

                </div>
            </li>
        </ul>
        <button
                type="submit"
                id="addRestaurant"
                class="btn btn-success mt-4 w-100"
                data-bs-toggle="modal"
                data-bs-target="#newRestaurantModal"
        >
            Dodaj Restauracje
        </button>

    </div>

    <footer>
        <div>
            2023
            &copy;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Autor:&ensp;Bartłomiej
            Święs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kontakt:&ensp;bartlomiejswies@gmail.com
        </div>
    </footer>
</main>

<!-- Add Restaurant Modal -->
<div
        class="modal fade"
        id="newRestaurantModal"
        tabindex="-1"
        aria-labelledby="newRestaurantModalLabel"
        aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1
                        class="modal-title fs-5"
                        id="newRestaurantModalLabel"
                >
                    Dodaj restauracje
                </h1>
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/restaurants/new}" method="POST">
                    <div class="form-group mb-4">
                        <label for="name">Nazwa</label>
                        <input
                                type="text"
                                class="form-control"
                                id="name"
                                name="name"
                                placeholder="Podaj nazwę"
                        />
                    </div>
                    <div class="form-group mb-4">
                        <label for="country">Kraj</label>
                        <input
                                type="text"
                                class="form-control"
                                id="country"
                                name="country"
                                placeholder="Podaj kraj"
                        />
                    </div>
                    <div class="form-group mb-4">
                        <label for="city">Miasto</label>
                        <input
                                type="text"
                                class="form-control"
                                id="city"
                                name="city"
                                placeholder="Podaj miasto"
                        />
                    </div>
                    <div class="form-group mb-4">
                        <label for="street">Ulica</label>
                        <input
                                type="text"
                                class="form-control"
                                id="street"
                                name="street"
                                placeholder="Podaj ulice"
                        />
                    </div>
                    <div class="form-group mb-4">
                        <label for="number">Numer</label>
                        <input
                                type="text"
                                class="form-control"
                                id="number"
                                name="number"
                                placeholder="Podaj numer"
                        />
                    </div>
                    <div class="form-group mb-4">
                        <label for="zipCode">Kod pocztowy</label>
                        <input
                                type="text"
                                class="form-control"
                                id="zipCode"
                                name="zipCode"
                                placeholder="Podaj kraj"
                        />
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">
                            Dodaj
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- JS Scripts JQuery and for styles -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</body>
</html>
